* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.preload {
	position: fixed;
	top:0;
	width:100%;
	height: 100vh;
	background:#77b3d4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	position:absolute;
	height: 120px;
	width:120px;
	border-radius: 50%;
	border-top: 15px solid #eee;
	animation: spinner 4s linear infinite;
	border-bottom:15px solid  white;

}

.spinner1 {
	position: absolute;
	height: 85px;
	width: 85px;
	background: grey;
	border-left: 25px solid #eee;
	border-radius: 50%;
	animation: spinners 5s linear infinite alternate;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);

	}
	100% {
		transform: rotate(1080deg);
		border-bottom:15px solid  #eee;
	}
}

@keyframes spinners {
	0%{
		transform: scale(0.5, 0.5);
	}
	100% {
		background: transparent;
		transform: scale(0.2,0.2);
	}
