* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.preload {
	position: fixed;
	top:0;
	width:100%;
	height: 100vh;
	background:#77b3d4;
	display: flex;
	align-items: center;
	justify-content: center;
}


.spinner {
	position:absolute;
	height: 120px;
	width:120px;
	border-radius: 50%;
	border-top: 15px solid black;
	border-bottom: 15px solid green;
	animation: spinner 4s ease-in-out infinite alternate;
	box-shadow: 0 0 15px #fff;
	z-index: -1;
}

.spear-left, .spear-right {
	position: absolute;
	height: 49px;
	width: 10px;
	border-top: 5px solid rgba(0,0,0,.5);
	border-right: 4px solid rgba(0,0,0,.5);
	z-index: -1;	
	animation: spears 4s ease-in-out infinite alternate-reverse;
}

.spear-left {
	left:50%;
	transform: skew(50deg, 10deg);
}

.spear-right {
	right:50%;
	transform: skew(-50deg, -10deg);
}
.loading {
	color:#000;
	font-family: sans-serif;
	z-index: 1;
}

.spinner1 {
	position: absolute;
	height: 85px;
	width: 85px;
	border-top: 15px solid white;
	border-bottom: 15px solid white;
	border-radius: 50%;
	animation: spinners 4s ease-in-out infinite alternate;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	50% {
		border-top: 15px solid #eee;
		border-bottom: 15px solid black;
	}
	100% {
		transform: rotate(1440deg);
		
	}
}

@keyframes spinners {
	0%{
		background: red;
		opacity: .95;
	}
	50% {
		border:none;
		transform: rotate(-1440deg);
		background: linear-gradient(to right, black, white );
		opacity: 0.4;
	}
	100% {
		transform: scale(0.6,.6);
		background: red;
		opacity: 0.4;

	}
}
 @keyframes spears {
 	0% {
 		height: 0;
 	}
 	100% {
 		height: 49px;
 		width:10px;
 	}
 }